.App {
  text-align: center;
  height: 200vh;
  width: 100%;
}


.App-header {
  min-height: 300vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #73777B;
  color: #15133C;
  font-family: 'Kanit', sans-serif;
  font-size: calc(10px + 2vmin);
  
}
.persondev{
  top: 30px;
  position: absolute;
  width: 170px;
  height: 30px;
  margin: 10px;
  right: 30px;
  border: 1px solid;
  border-radius: 2em;
  font-weight: bold;
}

.typewriter {
  overflow: hidden;
  border-right: 0.15em solid #EC994B; 
  white-space: nowrap;
  font-size: 20px;
  margin: 0 auto;
  position: absolute;
  top: 250px;
  max-width: 600px;
  margin: 0 auto;
  font-weight: bold;
}
.from{
  top: 320px;
  position: absolute;
  height: 200px;
  width: 50vw;
  text-align: center;
}
.from a{
  color: inherit;
  text-decoration: none;
}
.icons {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.linebreak{
  top: 80%;
  position: absolute;
}
.viewcarousel{
  top: 120%;
  position: absolute;
  width: 60vw;
  height: 400px;

}



.slider{
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slide-button{
  border-radius: 0.5em;
  width: 300px;
  height: 400px;
  background-color: #F1EEE9;
  border: none;
}
img{
  border-radius: 3px;
  top: 110px;
  position: absolute;
}

.elements{
 position: absolute;
 align-items: center;
 width: 290px;
 top: 310px;
 font-family: 'Kanit', sans-serif;
 color: #15133C;
 font-weight: bold;
}
.elements svg{
  margin: 0px;
}

.about{
  position: absolute;
  width: 80vw;
  height: 500px;
  top: 220%;
  text-align: center;
  padding: 20px;
}
.about p{
  top: 140px;
  left: 200px;
  position: absolute;
  width: 25vw;
  font-size: 19px;
}
.profile{
  border-radius: 50%;
  right: 200px;
}
   
@media (max-width: 652px) {
  .App{
    height: 300vh;
    
  }
  .App-header{
    
    height: 250%;
  }
  svg{
    margin: 5px;
  }
  .persondev{
    right: 0;
  }
  .typewriter{
    font-size: 16px;
  }
  
  .from {
    font-size: 14px;
    width: 200px;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
  .icons{
    position: absolute;
    top: 65px;
  }
  .linebreak{
    top: 93%;
  }
  .viewcarousel{
    top: 80%;
    width: 120%;
  }
  .about p{
    top: 310px;
    width: auto;
    font-size: 16px;
    left: 0;
    display: flex;
    }
  
  .slider{
   top: 70%;
  }
  .profile{
    position: absolute;
    left: 15%;
    width: 200px;
  }
  
} 
@media (max-width: 320px){
  .profile{
    left: 14%;
  }

} 

